* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
}

:root {
    --bleu-roi: #361FDB;
    --peche:  #FFA161;
    --noir: #080526;
    --blanc: #FFEDD1;
}

/*  ---------- GENERAL STYLE ---------- */
.btn-primary {
    background-color: var(--bleu-roi);
    padding: 0.8rem 1.6rem;
    color: var(--blanc);
    border-radius: 5px;
    border: solid 2px transparent;
    font-family: 'ClashDisplay-Medium', sans-serif;
    text-decoration: none;
    font-size: clamp(0.875rem, 0.8332rem + 0.2432vw, 1.125rem); /* min-WP: 275px - max-WP: 1920px / min-FS: 14px - max-FS: 18 */
}
.btn-primary:hover {
    background-color: transparent;
    border: solid 2px var(--bleu-roi);
    color: var(--bleu-roi);
}
.btn-secondary {
    padding: 0.8rem 1.6rem;
    color: var(--bleu-roi);
    border-radius: 5px;
    border: solid 2px var(--bleu-roi);
    font-family: 'ClashDisplay-Medium', sans-serif;
    text-decoration: none;
    font-size: clamp(1rem, 0.9791rem + 0.1216vw, 1.125rem); /* min-WP: 275px - max-WP: 1920px / min-FS: 16px - max-FS: 18 */
}
.btn-secondary:hover {
    background-color: var(--bleu-roi);
    border: solid 2px transparent;
    color: var(--blanc);
}

p.emph {
    font-family: 'ClashDisplay-Medium', sans-serif;
    text-decoration: none;
    font-size: clamp(1rem, 0.9791rem + 0.1216vw, 1.125rem); /* min-WP: 275px - max-WP: 1920px / min-FS: 16px - max-FS: 18 */
}

/*  ---------- NAV STYLE ---------- */
.desktop {
    display: flex;
}
.mobile {
    display: none;
}

.desktop, .mobile>.closed-menu {
    background-color: rgba(255, 237, 209, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    width: 96vw;
    margin: auto;
    margin-top: 3vh;
    padding: 1.5vh;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 3vh;
    z-index: 200;
}

.desktop>.main-nav-link, nav>.quick-links-nav {
    display: flex;
    align-items: center;
}

.desktop>.main-nav-link>a {
    color: var(--noir);
    margin: 1vw;
    display: inline-block;
    position: relative;
}
.desktop>.main-nav-link>a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--noir);
    transform: scaleX(0);
    transition: transform 0.1s ease-in-out;
}
.desktop>.main-nav-link>a:hover::after {
    transform: scaleX(1);
}

.desktop>.quick-links-nav>a:first-child {
    margin-right: 1vw;
}

.desktop>a>img {
    width: 13vw;
}

nav>.main-nav-link>a, .mobile>.opened-burger-menu>a {
    font-family: 'ClashDisplay-Medium', sans-serif;
    text-decoration: none;
    font-size: clamp(1rem, 0.9791rem + 0.1216vw, 1.125rem); /* min-WP: 275px - max-WP: 1920px / min-FS: 16px - max-FS: 18 */
}

.mobile>.closed-menu>a>img {
    width: 25vw;
    min-width: 150px;
}

.mobile>.closed-menu>svg {
    stroke: var(--bleu-roi);
}

.opened-burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--blanc);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
.opened-burger-menu>a {
    margin-block: 3vw;
}

.mobile>.opened-burger-menu>a:nth-child(1) {
    margin-top: 8rem;
}
.mobile>.opened-burger-menu>a:nth-child(3) {
    margin-bottom: 5rem;
}

.burger-menu-icon.to-close {
    display: none;
}

@media screen and (max-width: 1024px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile>.closed-menu {
        display: flex;
    }
}
